div {
  display: flex;
  text-align: center;
  align-content: space-between;
}

/* .circle {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  font-size: 16px;
  color: #fff;
  line-height: 100px;
  text-align: center;
  background: #000
} */


.counter {}


.bg-gradient span,
.bg-gradient:before {
  background: #39C2C9;
  background: linear-gradient(180deg, #39C2C9 0%, #3FC8C9 80%, #3FC8C9 100%);
}

h3 {
  color: #666a73;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.06em;
  width: 100px;
}


button {
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.07em;
  display: inline-block;
  color: #ffffff;
}

button i {
  font-size: 12px;
  vertical-align: middle;
}

button span {
  display: inline-block;
  padding: 12px;
  border-radius: 50px;
  /* position: relative; */
  z-index: 2;
  /* will-change: transform, filter;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; */
  transition: all 0.3s ease-out;
}

button:hover span {
  -webkit-filter: brightness(0.9) contrast(1.2);
  filter: brightness(0.9) contrast(1.2);
  -webkit-transform: scale(0.96);
  transform: scale(0.96);
}

button:hover:before {
  bottom: 3px;
  -webkit-filter: blur(6px) brightness(0.8);
  filter: blur(6px) brightness(0.8);
}

button:active span {
  -webkit-filter: brightness(0.75) contrast(1.7);
  filter: brightness(0.75) contrast(1.7);
}
